In [142]:
import sys
import os                           # for os interface
import csv
import math
import pickle                       # for full-precision data storage
import numpy as np
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
from collections import OrderedDict, defaultdict  # append list to disc
import timeit

In [143]:
start_time = timeit.default_timer()
data_file = '../input/indiv18/itcont.txt'
test_data = '../input/indiv18/test_data.txt'
header_file = '../input/indiv_header_file.csv'
elapsed = timeit.default_timer() - start_time
print (elapsed)

6.313899939414114e-05

In [144]:
start_time = timeit.default_timer()
# read header line
indiv_header=[]
with open(header_file) as f:
    for line in f:
        header_ele=[ele.strip() for ele in line.split(',') ]
        indiv_header.extend(header_ele) # use extend instead of append
elapsed = timeit.default_timer() - start_time
print (elapsed)
dataset_raw = pd.read_csv(data_file,delimiter='|',\
                      names=indiv_header,keep_default_na=False,dtype=str)
elapsed = timeit.default_timer() - start_time
print (elapsed)

0.003981415000453126
57.50057560799905

In [145]:
start_time = timeit.default_timer()
# keep columns of interest
dataset_valid=pd.DataFrame()
dataset_valid=dataset_raw.drop(['AMNDT_IND', 'RPT_TP','TRANSACTION_PGI',\
              'IMAGE_NUM','TRANSACTION_TP','ENTITY_TP',\
              'CITY','STATE','EMPLOYER','OCCUPATION','TRAN_ID',
              'FILE_NUM','MEMO_CD','MEMO_TEXT','SUB_ID'], axis=1)

dataset_valid=dataset_valid[dataset_valid['OTHER_ID'].notnull()]
dataset_valid=dataset_valid[dataset_valid.notnull()]
elapsed = timeit.default_timer() - start_time
print (elapsed)

7.000540617998922

In [146]:
start_time = timeit.default_timer()
# take the first five characters of 'ZIP_CODE'
# dataset_valid['ZIP_CODE']=dataset_valid['ZIP_CODE'].astype(str).str[0:5]
# 'ZIP_CODE' is valid only when the resulting string length is 5
dataset_valid=dataset_valid[dataset_valid['ZIP_CODE'].str.len()>=5]

# take integer in 'TRANSACTION_AMT'
dataset_valid['TRANSACTION_AMT']=dataset_valid['TRANSACTION_AMT'].astype(int)
# 'TRANSACTION_AMT' is valid only when > 0
dataset_valid=dataset_valid[dataset_valid['TRANSACTION_AMT']>5]

# first : Mark duplicates as True except for the first occurrence.
dataset_repeat=dataset_valid[dataset_valid.duplicated\
                             (['NAME','ZIP_CODE'],keep='first')]

elapsed = timeit.default_timer() - start_time
print (elapsed)

7.525046889997611

In [147]:
dataset_repeat.iloc[0]

CMTE_ID                  C00394973
NAME               CAFARO, CAPRI S
ZIP_CODE                     44425
TRANSACTION_DT            01102017
TRANSACTION_AMT                396
OTHER_ID                 H4OH14094
Name: 109, dtype: object

In [148]:
start_time = timeit.default_timer()
dataset_arrange=pd.DataFrame()
dataset_arrange['Identity'] = dataset_repeat['CMTE_ID'] + dataset_repeat.ZIP_CODE.str[0:5] + dataset_repeat.TRANSACTION_DT.str[-4:]
dataset_arrange['TRANS_AMT'] = dataset_repeat.TRANSACTION_AMT
dataset_arrange['index1'] = dataset_arrange.index
elapsed = timeit.default_timer() - start_time
print (elapsed)

7.5327009440006805

In [149]:
dataset_arrange.iloc[0:5]

               Identity  TRANS_AMT  index1
109  C00394973444252017        396     109
110  C00394973444252017         25     110
124  C00104083170502017        190     124
208  C00610436995072017        500     208
215  C00161414352432017        125     215

In [150]:
start_time = timeit.default_timer()
grouped=dataset_arrange.groupby('Identity')
#grouped.groups['C00394973444252017']
#pd.rolling_quantile(grouped['TRANS_AMT'], 2, 0.3)
#s=grouped['TRANS_AMT']
#perc=dataset_arrange.groupby('Identity',as_index=True).expanding(min_periods=1,center=False).quantile(quantile=0.3)
#perc=grouped['TRANS_AMT'].expanding(min_periods=1,center=False).quantile(quantile=0.3)
#total=grouped['TRANS_AMT'].expanding(1).sum()
#times=grouped['TRANS_AMT'].expanding(1).count()


#def func_sum(group):
#    return pd.DataFrame({'sum': group.expanding(1).sum(),'times':group.expanding(1).count()} )
#def func_perc(group):
#    return pd.Series(group.expanding(min_periods=1,center=False).quantile(quantile=0.3))
#def func_total(group):
#    return pd.Series(group.expanding(1).sum())
#def func_times(group):
#    return pd.Series(group.expanding(1).count())

#s1=grouped['TRANS_AMT'].transform(func_perc)
#s2=grouped['TRANS_AMT'].transform(func_total)
#s3=grouped['TRANS_AMT'].transform(func_times)

#pd.concat([dataset_arrange.Identity, s1, s2, s3],names=['Identity','perc','total','times'],axis=1)
#df_1 = dataset_arrange.merge(total)
#result = pd.concat([perc, total], axis=1)
#grouped.groups.keys()
#grouped['TRANS_AMT'].apply(lambda x: x.describe())

def f(group):
    return pd.DataFrame({'Identity': group['Identity'],'Original': group['TRANS_AMT'], 'Perc': group['TRANS_AMT'].expanding(min_periods=1, center=False).quantile(quantile=0.3),\
                         'Total': group['TRANS_AMT'].expanding(1).sum(), 'Times': group['TRANS_AMT'].expanding(1).count()})

X=grouped.apply(f)

elapsed = timeit.default_timer() - start_time
print(elapsed)

958.9374080350026

In [151]:
grouped['TRANS_AMT'].expanding(1).sum()

Identity
C00000059180402017  1940283       40.0
                    1940317       90.0
                    1940336      130.0
                    2097382      140.0
                    2097417      160.0
                    2097418      185.0
                    2097448      205.0
                    2097449      215.0
                    2672166      275.0
                    2672167      350.0
                    2672169      380.0
                    2672198      440.0
                    2672199      470.0
                    3397732      510.0
                    3397733      560.0
                    3397736      600.0
                    3430773      650.0
                    3453810      710.0
                    3453811      785.0
                    3453818      845.0
                    3635298      885.0
                    3635304      935.0
                    3635315      975.0
                    5904634     1015.0
                    5904635     1065.0
                    5904646     1105.0
C00000059640122017  1940297      100.0
                    2097405      125.0
                    2097435      152.0
                    2097445      252.0
                                ...
C00664151068302017  6370494    10800.0
C00664151068782017  6370412     2700.0
                    6370413     5400.0
                    6370482     8100.0
                    6370484    10800.0
                    6370487    13500.0
                    6370489    16200.0
C00664151069022017  6370433     2700.0
C00664151100072017  6370417     2700.0
                    6370419     5400.0
C00664151100212017  6370426     2700.0
                    6370428     5400.0
C00664151100242017  6370495     2700.0
C00664151331462017  6370415     2700.0
C00664631474312017  5908785      118.0
C00666289930652017  5915332       50.0
                    5915333      100.0
                    5915334      150.0
                    5915335      200.0
C90009853941072017  2918576    20000.0
C90014028303052017  3623081      546.0
C90014028303422017  3623083      250.0
C90014234220412017  4251203      650.0
                    4251204     3300.0
C90016726900172017  1045165    10000.0
C90016726904022017  1045150    25000.0
C90016726911012017  1045162    25000.0
C90017252303092017  3491610      500.0
C90017260599232017  436862       119.0
C90017310597152017  3451943      215.0
Name: TRANS_AMT, Length: 4588270, dtype: float64

In [152]:
start_time = timeit.default_timer()

dd = defaultdict(list)
dataset_final = dataset_arrange.to_dict('records', into=dd)

d1 = defaultdict(list)
d2 = defaultdict(list)
perc = 30.
percent = perc/100.



for item in dataset_final:
    identity=item['Identity']
    amount=item['TRANS_AMT']
    index1=item['index1']
    d1[identity].append(amount)
    if len(d1[identity]) ==1:
        perc_of_cont = amount
        total_cont = amount
        time_of_cont =1
        continue
    else:
        ranked = sorted(d1[identity])
        n = int(round(percent * len(d1[identity])))
        perc_of_cont=ranked[n-1]
        total_cont=sum(d1[identity])
        time_of_cont=len(d1[identity])
    

    d2[index1].append(identity)
    d2[index1].append(perc_of_cont)
    d2[index1].append(total_cont)
    d2[index1].append(time_of_cont)    
    
elapsed = timeit.default_timer() - start_time
print (elapsed)

    
#for k, v in d1.items():       
#    print (k,v)

944.451614868005

In [153]:
#%timeit dataset_final.items()

In [154]:
# group by and sum
# https://stackoverflow.com/questions/33823091/python-pandas-counting-the-frequency-of-a-specific-value-in-each-row-of-datafra
# https://stackoverflow.com/questions/42446006/pandas-find-previous-row-of-matching-value
#data_output['TRANS_AMT_PRE'] = \
#data_output.groupby(['CMTE_ID','ZIP_CODE','TRANS_DT'])['TRANS_AMT'].shift()
#data_output['TRANS_AMT'] + \
#data_output.groupby('ZIP_CODE')['TRANS_AMT'].shift()

In [155]:
#grouped=data_output.groupby(['CMTE_ID','ZIP_CODE','TRANS_DT'])

In [156]:
#new=data_output.groupby(['CMTE_ID']).get_group('C00035006')
#grouped.agg({'TRANS_AMT':np.sum,'TRANS_AMT': np.mean})

In [157]:
#for name, group in grouped:
    #print(name)
#    print(group.TRANS_AMT)

In [158]:
#grouped.bfill