In [1]:
import sys
import os                           # for os interface
import csv
import math
import pickle                       # for full-precision data storage
import numpy as np
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [45]:
data_file = '../input/indiv18/itcont.txt'
test_data = '../input/indiv18/test_data.txt'
header_file = '../input/indiv_header_file.csv'

In [117]:
# read header line
indiv_header=[]
with open(header_file) as f:
    for line in f:
        header_ele=[ele.strip() for ele in line.split(',') ]
        indiv_header.extend(header_ele) # use extend instead of append

In [119]:
dataset_raw = pd.read_csv(test_data,delimiter='|',\
                      names=indiv_header,keep_default_na=False)

In [215]:
# keep columns of interest
dataset_valid=dataset_raw.drop(['AMNDT_IND', 'RPT_TP','TRANSACTION_PGI',\
              'IMAGE_NUM','TRANSACTION_TP','ENTITY_TP',\
              'CITY','STATE','EMPLOYER','OCCUPATION','TRAN_ID',
              'FILE_NUM','MEMO_CD','MEMO_TEXT','SUB_ID'], axis=1)
# keep only rows with 'OTHER_ID' being empty ---> individual contributor
dataset_valid=dataset_valid[dataset_valid['OTHER_ID']=='']
# drop rows if any other fields are empty or malformed
dataset_valid=dataset_valid[dataset_valid.notnull()]

In [216]:
dataset_valid

,CMTE_ID,NAME,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID
1,C00177436,"DEEHAN, WILLIAM N",300047357,1312017,384,
2,C00177436,"WATJEN, THOMAS R.",330375267,1042017,5000,
3,C00177436,"SABOURIN, JAMES",307502818,1312017,230,
4,C00177436,"MAKER, SCOTT T.",40976952,1312017,384,
5,C00177436,"PYNE, CHRISTOPHER W",20251500,1312017,230,
6,C00177436,"JEROME, CHRISTOPHER",41051896,1312017,384,
7,C00177436,"FOLEY, JOSEPH",41051935,1312017,384,
8,C00177436,"MCGARRY, JOHN",40424132,1312017,384,
9,C00177436,"SIMONDS, MICHAEL Q",41051972,1312017,384,

In [221]:
# take the first five characters of ZIP_CODE
dataset_valid['ZIP_CODE']=dataset_valid['ZIP_CODE'].astype(str).str[0:5]
# ZIP_CODE is valid only when the resulting string lenth is 5
dataset_valid=dataset_valid[dataset_valid['ZIP_CODE'].str.len()==5]